
[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
authors = ["{{authors}}"]
edition = "2024"

[workspace.dependencies]
strum = { version = "0.27.2", features = ["derive"] }
tracing = "0.1.43"
